.best-deal {
    background-color: #fafafa;
    padding: 100px 0px;
}

.section-heading h6 {
    color: #ee626b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.section-heading h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
}

.best-deal .tabs-content {
    padding: 0px;
    background-color: transparent;
}

.best-deal .tabs-content ul.nav-tabs {
    border-bottom: none !important;
    margin-bottom: 80px;
    align-items: end;
    justify-content: end;
    margin-top: -130px;
}

@media (max-width: 990px) {
    .best-deal .tabs-content ul.nav-tabs {
      margin-top: 0px;
      justify-content: center;
    }
  }

.best-deal .tabs-content ul.nav-tabs li {
    padding-right: 0px;
    border-right: none;
    margin-left: 20px;
}

@media (max-width: 767px) {
    .best-deal .tabs-content ul.nav-tabs li {
      margin: 0px 5px;
    }
  }

@media (max-width: 390px) {
    .best-deal .tabs-content ul.nav-tabs li {
      margin: 10px 5px;
    }
  }

.best-deal .tabs-content .nav-link {
    font-size: 16px;
    font-weight: 500;
    background-color: #1e1e1e !important;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0px 25px;
    color: #fff;
}

@media (max-width: 767px) {
    .best-deal .tabs-content .nav-link {
      font-size: 14px;
      padding: 0px 15px;
      height: 44px;
      line-height: 44px;
    }
  }

.best-deal .tabs-content .nav-tabs .nav-link.active {
    background-color: #f35525 !important;
    color: #fff;
}

@media(max-width: 990px){
    .ys-tab-pane img{
        margin: 45px 0;
    }
}

.accordion-button::after {
  display: none;
}

