* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

img {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
}

.section {
  margin-top: 120px;
}

.section-heading {
  margin-bottom: 70px;
}

.hidden {
  display: none;
}